$orange: #f0d805;
$green: #5fc704;
$blue: #4c43d4;
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
body {
  padding: 0;
  margin: 0;
  background-color: $blue;
  &::-webkit-scrollbar {
    display: none;
  }
}

button {
  background: none;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid white;
    border-radius: 5px;
    &:last-child {
      border-bottom: none;
    }
    .square {
      width: 100px;
      height: 100px;
      border-right: 5px solid white;
      font-size: 35px;
      padding: 0;
      overflow: hidden;
      transition: all 0.2s;
      &:last-child {
        border-right: none;
      }
      &.winning {
        font-weight: bold;
        animation: scaling 1.2s infinite;

        @keyframes scaling {
          0% {
            font-weight: normal;
            font-size: 35px;
          }
          50% {
            font-weight: bold;
            font-size: 38px;
          }
          100% {
            font-weight: bolder;
            font-size: 42px;
          }
        }
      }
    }
  }
}
.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.new-game {
  padding: 10px;
  margin-top: 20px;
  font-size: large;

  border: 1px solid white;
  border-radius: 10px;
  &.active {
    cursor: pointer;
    background-color: $orange;
  }
}

.history-container {
  padding: 5px;
  margin: 5px;
  text-align: center;
  .history {
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      text-align: left;
      list-style-position: inside;
      &:before {
        content: "";
        border-radius: 50%;
        display: inline-block;
        height: 5px;
        width: 5px;
        background-color: $green;
        margin-right: 4px;
        margin-bottom: 1px;
      }
      .btn-move {
        &.active {
          font-weight: bold;
          color: $green;
        }
      }
    }
  }
}
